[2021-01-25 23:51] mloskot opened #549 "Move documentation deployment to GitHub Actions"
We are going to remove Travis CI configuration and we need to move the `DOC` build job from Travis CI to GitHub Actions,
ideally as a separate dedicated workflow.

[2021-01-29 08:55] mloskot opened #553 "Review and update includes in boost/gil.hpp"
Following merge of GSoC and other features, some public headers may be missing there

- add missing headers
- sort headers according to https://github.com/boostorg/gil/wiki/Include-Directives-Order

[2021-01-29 18:09] Siddharth1010 commented on #553
Hi @mloskot could you assign this to me?

[2021-01-29 18:16] Siddharth1010 commented on #553
@mloskot Could you also let me know where I can find the mentioned public headers?

[2021-01-30 20:11] #478 closed

[2021-01-30 20:19] mloskot commented on #553
@ Siddharth1010
No need to assign, just submit PR when ready.
Headers live in `include/boost/gil`.

[2021-01-31 04:11] Siddharth1010 commented on #553
@mloskot I have created a PR. Please let me know if I need to change anything

[2021-02-02 09:18] mloskot commented on #483
Fixed by #543

[2021-02-02 09:18] #483 closed

[2021-02-02 22:50] #475 closed

[2021-02-02 23:13] mloskot opened #558 "Suspicious warnings about unused variables"
These seem to be just  some left-overs, but some may actually be unused by mistake. I'd appreciate if you could have a look @simmplecoder

[code]

[code]

[code]

- Compiler version: GCC 9
- Build settings: `b2 toolset=gcc cxxstd=11`
- Version (Git ref or `<boost/version.hpp>`): `develop`

[2021-02-04 17:01] #553 closed

[2021-02-06 12:18] pankaj-2407 commented on #434
Hi,
I would like to work on this issue.

[2021-02-06 12:19] lpranam commented on #434
Feel free to take on this. No need for permission. :D

[2021-02-06 12:20] pankaj-2407 commented on #434
Thankyou @lpranam

[2021-02-11 01:00] gkumar28 commented on #533
Is there someone still working on this?

[2021-02-11 07:03] nathanowen42 opened #561 "LLVM reports memory leak in boost::gil::read_image"
### Actual behavior

llvm reports a 1 byte memory leak in boost::gil::read_image when provided with a valid jpeg image.  This was produced when using a `boost::gil::any_image<boost::gil::gray8_image_t, boost::gil::gray16_image_t, boost::gil::rgb8_image_t, boost::gil::rgb16_image_t>`

### Expected  behavior

There should not be a memory leak in this case.

### C++ Minimal Working Example

[code]

#

[2021-02-12 08:43] mloskot commented on #533
As explained in https://github.com/boostorg/gil/issues/533#issuecomment-754443403
No need to ask for permissions - if you don't see any related PR opened, then assume nobody is working on it - features are reviewed and accepted in FIFO manner.

[2021-02-16 14:58] Scramjet911 commented on #533
@gkumar28 Affine transformation already exist in an example as @sdebionne said. Optimization might be possible though.

[2021-02-27 21:21] gkumar28 commented on #533
Sorry for such a late reply.
I have opened a PR for this issue. #565
Please review it.

[2021-02-28 09:04] #548 closed

[2021-02-28 09:05] mloskot commented on #548
Closed by https://github.com/boostorg/gil/pull/564

[2021-02-28 09:14] avinal opened #566 "Add codecov badge to readme and correct badge sequence"
### Actual behavior

AppVeyor is missing from the badges.
![image](https://user-images.githubusercontent.com/74113200/109413277-94b64b80-79d2-11eb-950b-8dba78b1d573.png)

### Expected  behavior

Documentation | GitHub Actions | AppVeyor | Azure Pipelines | CircleCI        | Regression
--------------|----------------|-----------------|-----------------|------------|-------------
[![develop](https:/

[2021-03-01 10:46] #566 closed

[2021-03-09 18:23] harshitpant1 opened #575 "convolve_2d fails with image types using channel type float32_t"
### Actual behavior

convolve_2d fails to convolve images of type with channel type float32_t.

### Expected  behavior

It should work, as it does for other image types.

### C++ Minimal Working Example

[code]

### Environment

- Compiler version: MS Visual C++ version 19.28.29333
- Version (Git ref or `<boost/version.hpp>`): 107500

[2021-03-09 18:26] harsh-4 commented on #575
adding [0] seems to work. Perhaps the compiler doesn't like doing two implicit conversions.

[code]

[2021-03-11 10:16] meshtag commented on #449
I am working on this. This might be a trivial question but I would like to confirm whether I am allowed to do small modifications in the code. For example : replacing ```typedef``` with ```using``` for aliases.

[2021-03-11 10:20] mloskot commented on #449
You're free to do anything the licence allows you to do.

GIL already can use C++14, see https://github.com/boostorg/gil/pull/526#issuecomment-724540995

Yes, we prefer `using` aliases over `typedef` for aliases.

[2021-03-11 10:25] meshtag commented on #449
Alright, I will check that and submit a PR when I finish.

[2021-03-11 10:36] mloskot commented on #449
Awesome, thanks!

[2021-03-11 16:42] meshtag commented on #449
@mloskot, the format of [test cases](https://github.com/tuttleofx/TuttleOFX/blob/develop/libraries/boostHack/boost/gil/extension/toolbox/aligned.tests.cpp) used by ```TuttleOFX``` is not in alignment with current practices followed by ```Boost Gil```. I was thinking of developing some simple test cases of my own and adding them in a similar fashion to what I did in ```gil/test/core/image_processin

[2021-03-11 16:47] mloskot commented on #449
@meshtag They seem to be using Boost.Test while in GIL we use Boost.LightweightText
Although developing more/new cases on your/our own is certainly a good idea - the more tests the better - I'd suggest you to try port the TuttleOFX's tests to Boost.LWT format. It should be feasible - in GIL we used to use Boost.Test and we ported all our tests to Boost.LWT, a while ago.

[2021-03-11 16:56] meshtag commented on #449
Okay, I will try to do that.

[2021-03-13 05:07] Scramjet911 opened #576 "Bicubic sampler in GIL"
### Is your feature request related to a problem? Please describe.
In the current image resizing algorithms in GIL, there is nearest neighbour and bilinear sampler. But bicubic sampler is not available. Bicubic interpolation is also a very popular algorithm which might be needed useful for resizing.

### Describe the solution you'd like
Implementing a bicubic sampler in sampler.hpp

#### C++ Examp

[2021-03-15 14:42] fsmoke opened #578 "scanlne_reader for istream not worked"
### Actual behavior

Code not compiles on msvc 16.9.1

see piece of build log below
[code]

### Expected  behavior

I want use gil for read jpeg line by line from istream

### C++ Minimal Working Example

[code]

### Environment

Inside make_scanline_reader.hpp (line 84) - it seems function recursive:

[code]

- Compiler version: msvc 16.9.1
- Build settings: windows, 64bit
- boost 1.75

[2021-03-16 08:37] fsmoke opened #579 "for_each_pixel not work for any_image"
I suggest solution with boost::variant2::visit, see code below(code is approximated, not tested and etc, writed right here - it's just idea) you can write specialization for for_each_pixel...i think

[code]
example of usage
[code]

[2021-03-16 13:08] sdebionne commented on #579
Thanks for the suggestion. No need for SFINAE here, just overload the algorithm:
[code]

[2021-03-24 14:34] fsmoke commented on #484
I impatiently waiting implementation of this feature!!! Very, very need it!

[2021-03-29 03:56] Sayan-Chaudhuri commented on #576
Has anyone resolved this issue?

[2021-03-29 08:29] mloskot commented on #576
@Sayan-Chaudhuri If you don't see any related PR or commits or code then the answer is No.

[2021-03-29 08:40] Scramjet911 commented on #576
I was working on the testcases, haven't updated it here. will put in a pr soon

[2021-03-29 08:51] Sayan-Chaudhuri commented on #576
Ok,I got it.

[2021-03-29 08:59] mloskot commented on #576
@Scramjet911 Please, add the PR `#NNNN` reference to the description of this issue, so it is clear what to follow.

[2021-04-02 17:42] schra opened #591 ""See also" links in documentation are broken"
### Actual behavior

Go to a "See also" link (not sure if all of them are broken). For example:

1. Go to https://boostorg.github.io/gil/html/design/point.html
2. Click on PointNDConcept under the "See also" section
3. Find a 404 page

### Expected  behavior

The documentation of the linked type

[2021-04-02 17:45] mloskot commented on #591
Thanks for the report, it looks like the fix is to remove `design/` from the paths as in here:

[code]

[code]

[2021-04-08 14:50] harshsingh941 commented on #439
hii,i want to work on this issue. please help me

[2021-04-08 15:31] mloskot commented on #439
If you want to work on something, you should rather know how to do it, don't you think so?

[2021-04-08 15:54] harshsingh941 commented on #439
but you can help e with that??

[2021-04-08 15:55] harshsingh941 commented on #439
But you can help me with that..

[2021-04-08 16:39] mloskot commented on #439
I'm sorry but no resources for babysitting.

If you have very specific issue or question about GIL, then feel free to ask.

[2021-04-14 02:54] pdimov commented on #51
Not sure how relevant this issue is today, but the warning seems to indicate exactly what it says: a pixel value is used uninitialized. The tests seems to have been reorganized though so it's not easy to track now.

[2021-04-15 14:02] Scramjet911 commented on #576
I have added a PR for this issue. Can someone look into it?

[2021-04-15 14:56] Scramjet911 commented on #576
Oh sorry, I thought WIP meant that it hasn't been reviewed yet, changed it.

[2021-04-15 15:13] mloskot commented on #576
I'd suggest to use WIP as equivalent of marking a PR as Draft:

- https://github.blog/2019-02-14-introducing-draft-pull-requests/
- https://github.blog/changelog/2020-04-08-convert-pull-request-to-draft/

The issue with Draft is that

Similarly, marking with [status/work-in-progress](https://github.com/boostorg/gil/labels/status%2Fwork-in-progress) label requires such higher permissions.

So, ad-h

[2021-04-15 16:31] Scramjet911 commented on #576
Oh, I see. I added 'WIP:' because I wanted input on how I implemented it and if I should change the way I implemented it.

[2021-04-23 06:05] mloskot opened #598 "Deprecate CMakeSettings.json and replace with CMakePresets.json"
https://devblogs.microsoft.com/cppblog/cmake-presets-integration-in-visual-studio-and-visual-studio-code/

It's a good idea to replace our [example/CMakeSettings.json](https://github.com/boostorg/gil/blob/0dc68398b8c01fc0907906be145b6e8dbf77e753/example/cmake/CMakeSettings.json) with the presets file.

[2021-05-06 18:36] mloskot opened #605 "Remove deprecated.hpp added in 2007"
The `deprecated.hpp` was added a [very long time ago](https://github.com/boostorg/gil/blob/2ad274cc81f1613a0dc723a6c87a4c48dea9e35f/RELEASES.md#200---2007-03-08) and it's time to get rid of it.

[2021-05-06 21:59] mloskot commented on #453
@sdebionne I discovered that we might have lost the `boost::gil::any_image<boost::mp11::mp_list<...>>` completely, what is somewhat related to this issue.

There have been number of changes to `any_image` and `apply_operation` recently and earlier, and I might have got lost.
Could you update me on what is currently supported form of specialising `any_image`?

Here is what I'm testing using Boost 1

[2021-05-07 05:54] sdebionne commented on #453
The first form is the only one supported for `any_image` and `any_image_view`. It's indeed a breaking change that was maybe not advertised enough. But I believe the [doc is up-to-date](https://www.boost.org/doc/libs/develop/libs/gil/doc/html/design/dynamic_image.html).
I'm a bit surprised that I reported this issue with `boost::mp11::mp_list<`, that probably means it predates the final variant2 re

[2021-05-08 20:57] mloskot commented on #453
@sdebionne Thank for the update. Yes, it does predate the variant2.

I will have to catch up the IO tests with those changes.
I missed that because of the still convoluted way of running the IO tests, what tests are run by our CI, what `#define`-s are set, etc. so it needs clearing to try avoid any conditional running of tests.

[2021-05-08 20:59] mloskot opened #606 "Catch up IO extension tests with switch to variant2"
Simply, follow the sequence of

1. https://github.com/boostorg/gil/issues/453#issuecomment-833898207
2. https://github.com/boostorg/gil/issues/453#issuecomment-834087773
3. https://github.com/boostorg/gil/issues/453#issuecomment-835510519

and ensure all the *full* IO tests are up to date and pass.

[2021-05-10 07:00] sdebionne commented on #453
I thought I had updated all the tests, but since I am usually not running the tests locally with IO tests, I might have left some behind... sorry about that. Indeed, it would be great to have the CI catch these oversights.

[2021-05-10 19:22] mloskot commented on #453
@sdebionne No problem, not your fault, but the tests configuration - it should be no brainer w/o any manual tweaks required.

[2021-05-11 04:54] #606 closed

[2021-05-24 07:14] meshtag opened #608 "Add "Reflection" option for boundary handling in 1D convolution."
```Reflection``` option for boundary handling is currently not available in 1D convolution. It is a common feature available in other standard libraries.

[2021-05-24 07:16] meshtag opened #609 "Add separate implementation of 2D correlation"
Add separate implementation for `2D correlation` which would facilitate its standalone use as well.

[2021-05-24 07:17] meshtag opened #610 "Provide more boundary options in 2D convolution"
Provide different options for handling boundary pixels during` 2D convolution`.

 - Related to GSoC 2021

[2021-06-10 08:06] sdebionne opened #615 "Add arithmetic operators for float and double grayscale pixels"
### Is your feature request related to a problem? Please describe.

I was surprised to see that arithmetic operations on `pixel` compiles but without explicit support from the library. `pixel`s are actually implicitly converted to their underlying type.

### Describe the solution you'd like

Provide a set of arithmetic operators, at least for `pixel_gray32f_t` and `pixel_gray64f_t`.

#### C++ Exam

[2021-06-10 20:22] fmorgner opened #616 "Incompatibility with C++20"
### Actual behavior

Compilation fails when using the jpeg io extension (and others).

[code]

### Expected  behavior

Compilation should succeed.

### C++ Minimal Working Example

[code]

### Environment

With the release of ISO14882:2020, *simple-template-id*s are no longer considered valid as the *id-expression* of the *ptr-declarator* when declaring the constructor of a class template speciali

[2021-06-17 23:06] mloskot opened #618 "ci: Remove use of AppVeyor"
### Motivation

Following @sdebionne question in https://github.com/boostorg/gil/pull/596#issuecomment-851273219 I think it's time to get rid of AppVeyor and get closer to the overall Boost trend to switch to GitHub Actions. We're still having some support from Azure Pipelines, however it's different (or not) from the GA, who knows.

### State

Our GA+AZ:

https://github.com/boostorg/gil/blob/7dd6

[2021-06-30 20:10] timocafe opened #619 "boost::gil::any_image trait class"
Hello,

I would like have a suggestion to code the following problem. I am reading png images gray8 and rgb8.
I use the type `any_image<...>` type with the following code:

[code]

This code works perfectly well, however for the rest of my project I need to make conversion to the "associated" float type.
`boost::gil::gray32f_image_t` and  `boost::gil::rgb32f_image_t`. I mean `gray8_image_t` -> `bo

[2021-07-01 11:47] sdebionne commented on #619
If you mean getting the type currently hold by the variant, there is no other way than visiting the variant. You might want to use `boost::gil::apply_operation` (or `boost::variant2::visit`) though, rather than converting to `std::variant`:

[code]

[2021-07-01 11:56] timocafe commented on #619
Indeed I was looking for that (it works). My conversion to the variant was useless. But my meta-programming is a bit rusty and I do not have a full understanding of GIL. Thank you very much.

[2021-07-02 08:01] #619 closed

[2021-07-02 08:05] mloskot commented on #619
Thanks both. This seems like a good example, hopefully I'll not forget to stick it somewhere in the docs.

[2021-07-16 14:58] sdebionne opened #620 "for_each_pixel return value is incorrect for not 1d traversable view"
### Actual behavior

I believe the bug was introduced in #139. The behavior is an incorrect return value from `for_each_pixel()` when the input view is not 1d traversable.

The (removed) re-assignement was here to cope with this use-case.

### Expected  behavior

In the following loop

[code]

the `fun` should be carried over from `y` interation to the other, not using a fresh copy of the input `f

[2021-07-16 15:04] sdebionne commented on #620
I believe that the fix is in #187, reopening it.

[2021-07-31 19:17] simmplecoder opened #622 "Matrix like type for GIL"
### Is your feature request related to a problem? Please describe.

Yes. Due to requests in #204 and #615 , it is clear that there is serious need for some sort of matrix like type that is not normalized by default. Image processing and related functionality is in a dire need of this.

### Describe the solution you'd like

#### C++ Example

[code]

### Describe alternatives you've considered

It i

[2021-08-01 15:36] sdebionne commented on #622
I also define my own typedefs for `float` and `double` when pixel are not exactly colors (photon counts in my case). But this is easily done in the app, no? I would not mind to have them predefined in GIL though. The default channel converter, that maps the range of the source channel type to the destination channel type, can also be customized, e.g.  a `round_channel_converter`.  Does that help?

[2021-08-04 07:28] meshtag opened #623 "kernel_2d_fixed giving false assertion errors"
### Actual behavior

``` boost::gil::detail::kernel_2d_fixed ``` gives false assertion errors during its initialization.

### Expected  behavior
A 2D kernel with provided values and center co-ordinates should be created

### C++ Minimal Working Example
https://wandbox.org/permlink/Q5uuWCLJo5eBH3Ai

[code]

### Environment

- Compiler version: gcc 11.1.0
- Version: Boost 1.76.0

[2021-08-04 07:33] meshtag commented on #623
A simple workaround for this problem is [here](https://github.com/meshtag/gil/blob/4492dbfc29aa8f6f1610db1ddec1d9614995659d/include/boost/gil/extension/numeric/kernel.hpp#L169). However, I think this issue can be dealt in a more reliable/generic manner.

[2021-08-14 17:36] simmplecoder commented on #622
@sdebionne @lpranam @mloskot I believe we could mount a lot of functionality on properly written matrix type. Here is the first sketch:

https://github.com/simmplecoder/gil/blob/2D_Convolution_and_Correlation/include/boost/gil/extension/numeric/arithmetics.hpp

https://github.com/simmplecoder/gil/blob/2D_Convolution_and_Correlation/include/boost/gil/extension/numeric/matrix.hpp

These are very rou

[2021-08-16 15:38] GarvitSinghal47 commented on #605
i want to work on this issue can i work on this issue.

[2021-08-31 15:21] YashK773 commented on #605
Hey, I am a beginner in contributions and on my way to learn new things, can this issue be assigned to me?

[2021-08-31 15:39] meshtag commented on #605
Generally, we do not assign an issue to someone and limit the total number of minds working on an issue/feature request. You are very welcome to work on the issue and create a PR once you solve it. All the best!

[2021-08-31 18:17] mloskot commented on #605
...and if no PR exist for an issue, it is safe to assume nobody has worked on it and it is available to take, and no need to ask for permission.

[2021-08-31 19:06] YashK773 commented on #605
Okay, thank you so much!

[2021-10-05 07:31] #616 closed

[2021-11-06 18:17] HappySeaFox opened #629 "Cannot compile any_image example from the docs"
Hi! Could you please help with compiling the code sample from the GIL docs:

### Actual behavior

I copy-pasted the following code sample from the docs

[code]

from https://www.boost.org/doc/libs/1_75_0/libs/gil/doc/html/io.html

Even after fixing `rgba_image_t` -> `rgba8_image_t`, it still complains:

[code]

### Expected  behavior

It compiles.

### C++ Minimal Working Example

### Environment

[2021-11-08 09:07] sdebionne commented on #629
Indeed, the documentation is not up-to-date. The need for an MPL vector has been removed, the `any_image` variant should be instantiated directly with:

[code]

[2021-11-08 09:20] HappySeaFox commented on #629
Cool, thanks! 😀

[2021-11-08 09:20] #629 closed

[2021-11-08 09:29] sdebionne opened #630 "Remove references to MPL in the documentation"
### Actual behavior

Follow up of #629

[code]

### Expected  behavior

The documentation needs to be updated.

[2021-11-08 18:24] mloskot commented on #630
Thanks for catching this

[2021-11-08 18:25] #630 closed

[2021-11-10 17:21] #436 closed

[2021-12-24 11:25] octopus-prime opened #633 "How to write image to PNG file with 16 bit color depth?"
### Actual behavior

Saving image as 8 bit -> ok
![test](https://user-images.githubusercontent.com/7620013/147348822-72cbd228-040a-40d5-a744-4478e18fec16.png)

Saving image as 16 bit -> broken
![test16](https://user-images.githubusercontent.com/7620013/147348841-715d82c1-e74c-4789-abf1-cd848180fdfa.png)

### Expected  behavior

Saving image as 8 bit -> ok
Saving image as 16 bit -> ok

### C++ Mini

[2021-12-25 10:41] simmplecoder commented on #633
Could you please provide original image and IHDR of the incorrect result?  (it would be great if the original file was uploaded to file exchange server, non-media website, because media processing might apply some transformations)  My expectation is that either IHDR is messed up in 16 bit path or some incorrect typing being applied.

[2021-12-25 13:27] octopus-prime commented on #633
Sowas?!

`Format-Hex .\test16.png` (the broken one)

->

[code]

[2021-12-25 13:29] octopus-prime commented on #633
And if you need the image... what about zip?

[2021-12-25 17:56] simmplecoder commented on #633
Yes, zip file would be great.

[2021-12-25 18:17] simmplecoder commented on #633
The IHDR looks correct. The bytes 03 E8 on the second row mean dimensions (1000, 1000), while bytes 10 and 02 mean 16 bit pixel depth and RGB/truecolor mode. So the problem is probably somewhere in the chunks.

[2021-12-25 18:47] octopus-prime commented on #633
Here the zip...
[test16.zip](https://github.com/boostorg/gil/files/7776170/test16.zip)

[2021-12-26 19:08] simmplecoder commented on #633
@octopus-prime , I didn't check it completely yet, but perhaps you could have a look if there are any signed/unsigned problems in the program? I recalled that those patterns look a lot like overflows when converting from signed to unsigned. I will try to find which operation made it become like that before New Year.

[2021-12-31 01:55] lpranam commented on #497
these resampling and affine examples also have tests. I am not sure what to do with them.

I typically don't like removing tests, more cases to test less the bug.

But if we more those headers in examples I am not sure if it is a good idea to use example headers in the tests.(and on the other hand it will add unnecessary complications in configuration)

looking for suggestions on what to do with t

[2021-12-31 01:56] lpranam commented on #497
these resampling and affine examples also have tests. I am not sure what to do with them.

I typically don't like removing tests, more cases to test less the bug.

But if we more those headers in examples I am not sure if it is a good idea to use example headers in the tests.(and on the other hand it will add unnecessary complications in configuration)

looking for suggestions on what to do with t

[2022-01-03 16:46] mloskot commented on #497
How about keeping these example-like to-be-deprecated headers inside `boost/gil/extension/numeric` for now?

In other words
1. move the useful stuff from `boost/gil/extension/numeric` upward into `boost/gil`  core
2. keep the rest of the stuff inside `boost/gil/extension/numeric`
3. keep the current structure of tests and examples for the stuff from 2.

This would seem like the least disruptive ap

[2022-01-30 12:49] octopus-prime commented on #633
This ist broken too:

Ubuntu 21.10
[code]

[code]

8 bit
![test8](https://user-images.githubusercontent.com/7620013/151700351-5b7b38ec-9965-481e-a188-28502bd5421e.png)

16 bit
![test16](https://user-images.githubusercontent.com/7620013/151700353-1193976e-d834-45ea-8c7e-0598648768e1.png)

[2022-01-30 16:52] simmplecoder commented on #633
I tried to directly convert the values using `gil::transform_pixels`:

[code]

which results in a broken image too. It seems like the problem is inside the PNG IO extension, @mloskot, @lpranam . Last time I went there, it was not pretty (I still remember dealing with that `longjmp`). Perhaps there is a more specific location I shoud look at? After looking at [write.hpp](https://github.com/boostorg

[2022-01-30 17:03] simmplecoder commented on #633
I tried to do manual conversion, to exclude color converted view being the issue:

[code]

The image was still broken. The problem is definitely somewhere in the IO PNG extension. I looked in [write.hpp](https://github.com/boostorg/gil/blob/develop/include/boost/gil/extension/io/png/detail/write.hpp), but nothing stood out as erroneous (libpng seems to have deeply nested macros).

Is there any spe

[2022-02-03 22:46] mloskot commented on #222
I've updated this issue with C++17 `std::filesystem`:

unless user explicitly desires to use Boost.Filesystem via an appropriate #define.

[2022-02-09 13:43] #575 closed

[2022-03-01 13:35] #620 closed

[2022-03-05 00:45] cloudlakecho opened #637 "add_executable called with incorrect number of arguments in CMakeLists.txt"
Thanks for reading my issue during installation.

I found the Boost Gil tool recently and tried to use it (to escape from the OpenCV tool ;) ).

So I attempted to build Gil (by cloning the repository master branch) with these command lines:
[code]

### Actual behavior

but I face these errors:

output
[code]
### Expected  behavior

Build Success

### C++ Minimal Working Example

None because this

[2022-03-07 11:48] mloskot commented on #637
From the `README.md`: _"The Boost Generic Image Library (GIL) is a C++11 header-only library"_,

As the `README.md` points out, CMake is dedicated for contributors only. If you wish to contribute, you need to read the warning(s) and instructions in the `CONTRIBUTING.md`.

[2022-03-07 11:48] #637 closed

[2022-03-07 20:01] mloskot commented on #637
@cloudlakecho https://www.boost.org/doc/libs/1_78_0/more/getting_started/windows.html#header-only-libraries

[2022-03-28 00:22] striezel opened #639 "Add support for WebP format?"
### Is your feature request related to a problem? Please describe.

GIL does not support images in the [WebP format](https://developers.google.com/speed/webp). In my experience, this format is becoming increasingly more common as a replacement for JPEG and PNG image formats. So at least read support for that format would be really nice. :)

### Describe the solution you'd like

There should be an

[2022-03-28 08:32] mloskot commented on #639
Yes, I think it's a very good idea to support the format.

I'm not aware of any ongoing developments for this.

Since there are no ongoing efforts, the best way is to
- look at how other formats are implemented, sources in `include/boost/gil/extension/io`
- implement the I/O reader/writer for WebP
- submit it via Pull Request for review
- enjoy the fame and wealth ;-)

[2022-04-07 14:52] mloskot opened #642 "ci: Switch CI configuration to boostorg/boost-ci"
Travis CI is dead. Our CI has rotten. We should consider optimising and eliminate inefficient, repeated builds, improve CI maintenance.

The https://github.com/boostorg/boost-ci offers Boost-standardized configuration for all major CI services.
It is compelling to switch our home-grown configuration to it. So, let's discuss it.

### Major issues with boost-ci that we need to address:

- We need to

[2022-04-07 18:46] mloskot commented on #642
Yes, this is an ideal plan. We, however, do what we can i.e. w.r.t. man power. So, your contributions to our CI are godsend.

First, let's summarise where we currently are:

  1. Boost.GIL became a C++11 library in 2018 (after [grand merge](https://lists.boost.org/boost-gil//2018/07/0048.php) and we still have a few items to do, see [C++11 Modernization](https://github.com/boostorg/gil/projects/3)

[2022-04-07 19:30] sdebionne commented on #642
I am all in to move to Boost.CI and standardized configuration that would help with the maintenance. I prefer a limited set of compilers:configurations to a CI that fails for obscure reasons.

OK with me, and I agree that we need to move forward with respect to the community.

As a user of Boost.GIL, I get my dev env (and the Boost libraries) from Conda and  can use the latest compilers on all pla

[2022-04-08 10:46] mloskot commented on #642
I agree.

Ideally, if the CI is defined in some sort of fan-out fashion like [Boost.Geometry build on CircleCI](https://app.circleci.com/pipelines/github/boostorg/geometry/286/workflows/bf8ae61c-76a6-4942-8f6f-3e0e85fda02f), with inter-job or even inter-workflow dependencies,

For example, our GitHub Actions could run sequence of inter-dependant workflows:
  1. `minimal-core.yml` - build with sing

[2022-04-12 07:29] mloskot opened #645 "libs\gil\test\core\histogram\fill.cpp(64): fatal error C1001: Internal compiler error"
### Actual behavior

Currently, this internal error is occurring for two CI jobs (recently improved by @striezel)
  - windows (msvc-14.3, 14,17,latest, 32,64, windows-2022)
  - windows (msvc-14.2, 14,17,latest, 32,64, windows-2019)

Here is sample log:

[code]

Assuming `libs\gil\test\core\histogram\fill.cpp(64)` means line 64, bug must be coming from the vectors of `bool` here:
https://github.com

[2022-04-12 10:18] mloskot commented on #645
FYI, I reported the issue here, https://developercommunity.visualstudio.com/t/INTERNAL-COMPILER-ERROR-compiling-std::v/10011526

Yes, `/std:c++latest` needs to be disabled.
This is aligned with the grand plan as discussed in https://github.com/boostorg/gil/issues/642#issuecomment-1092730524

[2022-04-12 16:40] striezel commented on #558
@mloskot:
Those warnings already have been removed in the following commits:
* commit 2db5fe9f448bbf4b9da0e38414a366ec5188c817 for circle.cpp
* commit 0b24f4cdbf430430b5430507822b0698cd9d2ac7 for hough_transform.hpp, and
* commit 5dcdf53c02f6b646703b03670c66596beae905ab for diffusion.hpp (see #635)

In other words: I believe this issue is resolved and can be closed.

[2022-04-12 16:42] mloskot commented on #558
Nice, thanks!

[2022-04-12 16:42] #558 closed

[2022-04-12 18:56] mloskot opened #646 "ci: Stop building on CircleCI"
Apparently, the CircleCI setup for GIL has rotten enough to become unusable:

![image](https://user-images.githubusercontent.com/80741/163033415-32d698cb-d22a-4f80-9c53-9418e576724a.png)

![image](https://user-images.githubusercontent.com/80741/163033466-cf34ca4d-27b3-418d-8c75-c053fddc4687.png)

We are considering complete switch over to GitHub Actions only with minimal builds, see https://github

[2022-04-12 18:57] #646 closed

[2022-04-13 06:51] sdebionne commented on #642
I think it's a good idea to have separate pipelines for core / extensions and different groups of compilers / std. It will give use a much better idea of the location / severity of failing pipelines. I understand that Boost.CI is not flexible enough to implement this approach though.

[2022-04-21 18:51] striezel commented on #605
@mloskot: This issue has already been solved in PR #627, so it's safe to close the issue.

[2022-04-21 18:54] mloskot commented on #605
@striezel Good catch. Thanks

[2022-04-21 18:54] #605 closed

[2022-04-25 18:12] striezel commented on #633
For what it is worth:
I've compiled your example with Boost 1.71, libpng 1.6.37 and GNU GCC 9.4.0 on Ubuntu 20.04 (LTS) and the 16 bit image comes out the way it should, looking like the 8 bit version.

![test16](https://user-images.githubusercontent.com/20865852/165148386-b8ab4533-1c72-4038-872c-63523b663a54.png)

So it may be either a compiler issue, or - more likely - some bug introduced betwee

[2022-04-26 00:38] striezel commented on #633
@octopus-prime:
Could you please test the example from above (https://github.com/boostorg/gil/issues/633#issuecomment-1025136555) with the changes from the pull request https://github.com/boostorg/gil/pull/650? For me that fixes the problem. However, to be sure I would like  you to verify that.

[2022-04-26 15:06] octopus-prime commented on #633
@striezel
Works like a charm! 👍
Thanks!

[2022-04-26 17:30] striezel commented on #618
Azure Pipelines is in the process of removing Windows Server 2016 with Visual Studio 2017, so it will no longer be available. See https://devblogs.microsoft.com/devops/hosted-pipelines-image-deprecation/ for more information.

However, Azure seems indeed to be using the same stuff as GitHub Actions, so we are still covered when it comes to MSVC.

[2022-04-26 19:28] mloskot commented on #633
I've merged the PR #650 with the fix. Thanks again!

[2022-04-26 19:28] #633 closed

[2022-04-26 20:07] marco-langer commented on #62
The link is dead, should the issue be closed?

[2022-04-26 20:37] mloskot commented on #62
Yes, good idea, thanks.

[2022-04-26 20:37] #62 closed

[2022-04-27 11:27] #189 closed

[2022-04-28 10:01] mloskot commented on #645
[Latest update](https://developercommunity.visualstudio.com/t/INTERNAL-COMPILER-ERROR-compiling-std::v/10011526#T-N10024311): _"A fix for this issue has been internally implemented and is being prepared for release. "_

[2022-04-29 06:42] marco-langer commented on #368
The same problem occurs with the divide operations: There is `pixel_divide_t` and `channel_divides_t`.

In the standard we have`std::multiplies` / `std::divides` and _not_ `std::multiply` / `std::divide`.

Which solution is preferred?

[2022-04-29 08:16] mloskot commented on #368
Good point.
It looks to me these are named as in "this functor multiplies a and b" and it makes sense.
But, why there is `std::negate` instead of `std::negates` as "this functor negates"?
I always thought the C++ standard prefers singular/impersonal forms like in `std::accumulate` and not "this `std::accumulates`", etc.
That is why I suggested `multiply` instead of `multiplies`, but I am not going

[2022-04-29 08:35] marco-langer commented on #368
Just a guess, but having `std::accumulate` as an algorithm and `std::multiply` as a functor would be quite confusing. People would expect `std::multiply` to be an algorithm as well.

[2022-04-29 08:43] mloskot commented on #368
Yes, that's reasonable explanation.

Let's have `channel_multiplies_t` then.

[2022-04-29 09:09] marco-langer commented on #533
The PR is merged and the issue completed, or am I missing something important?

[2022-04-29 12:13] mloskot commented on #533
@marco-langer No, I don't think you are missing anything. Good catch, thanks.
It is the commit message merging the #565 that missed the `Closes #533` line.

[2022-04-29 12:13] #533 closed

[2022-04-29 20:23] striezel commented on #519
Possibly yes, but in my opinion it would have been a good idea to include the message here nonetheless, so people might get a better idea where to look when trying to fix this error.

Using the provided minimal working example (MWE)
[code]
I get the following error in GCC 11.2.0 using the current master from boostorg/boost@38e705a8e39e679e9bf2be7fa28155239d2c7ee0:

[code]

On the other hand, it co

[2022-04-29 20:44] striezel commented on #519
@dmwilk:
The changes in #654 fixes your issue. At least your minimal working example is now indeed a working example again. :)

[2022-04-30 21:53] #368 closed

[2022-04-30 21:57] #579 closed

[2022-05-04 19:21] sdebionne commented on #373
A rationale could be that `int` is used almost [everywhere](https://github.com/boostorg/gil/blob/develop/include/boost/gil/color_base_algorithm.hpp) to identify the channel. I think it helps writing compile-time recursion for per-channel operation but if it' not the case we might want to extend "unification" to color base.

[2022-05-04 21:09] mloskot commented on #373
It has been a bit of a mess.
If we think of the image in terms of 3D: X, Y and Z, then currently we define X and Y as `ptrdiff_t` and the X as `int` or `size_t`.

I'm recalling https://github.com/boostorg/gil/pull/305 where some of us, @stefanseefeld, were preferring `size_t` to express the image-in-memory dimensions. I've been cultivating a more conservative approach to stick to `ptrdiff_t` as it

[2022-05-05 11:20] striezel commented on #373
Everywhere - except where it is not used. While `nth_channel_view` still uses `int` (unless #659 is approved, which would change that to `std::size_t`), many places that are using `nth_channel_view` are using `std::size_t` as channel index already. For example:
* [image_processing/convolve.hpp](https://github.com/boostorg/gil/blob/36a45e3af566950acc50b6ab052f3e7d7b1fc0b7/include/boost/gil/image_pr

[2022-05-05 12:25] striezel opened #662 "update master branch with existing fixes from develop branch"
### Is your feature request related to a problem? Please describe.

Basically, there should be a merge of develop into master to get the newer fixes onto master and possibly into one of the next Boost releases.

For example, as of now (2022-05-05) those fixes are currently on develop but not on master yet, just to name some:

* #579
* #617
* #621
* #650

### Describe the solution you'd like

* Sim

[2022-05-05 18:05] striezel commented on #662
But even for those annoyance fixes / bug fixes there should probably be some kind of documentation. So what is the usual procedure for that? I am asking so that maybe someone can already prepare a bit of that as a PR.

[2022-05-06 21:34] striezel commented on #373
I was not really expecting that people do arithmetic operations on the number of channels, but if that is a concern, then some signed type may indeed be better. In that case it should probably be `ptrdiff_t` instead, as was suggested earlier (https://github.com/boostorg/gil/issues/373#issuecomment-1118842042). I just do not fancy the name `ptrdiff_t` for a type that is used to represent the number

[2022-05-12 07:12] mloskot opened #667 "Prepare for release with Boost 1.80"
Following the https://github.com/boostorg/gil/discussions/663 discussion, we are going to perform the grand true merge of `develop` into `master` in order to prepare for release all of the fixes and features (GSoC too) that have been developed over the [Boost 1.76.0](https://www.boost.org/users/history/version_1_76_0.html), that is the last Boost release with anything GIL.

Steps:
1. [x] Merge
2.

[2022-05-12 09:44] sdebionne commented on #438
@mloskot Do you see any other core types that need move semantic or shall we mark this issue as done?

[2022-05-12 11:36] mloskot commented on #438
@sdebionne I haven't checked in details for any other obvious types. The iterators and locators could be. I don't think we have any that manage heavy resources.
If see no obvious types either, then this can be closed as done.

[2022-05-12 12:14] sdebionne commented on #438
AFAIK, all iterators and locators are lightweight (as one would expect such objects to be).

[2022-05-12 12:14] #438 closed

[2022-05-12 12:20] mloskot commented on #438
Yes, they are, and all simple values should be moveable, in the standard library they must be. Here is nice summary of the gist https://stackoverflow.com/a/14316175/151641

[2022-05-17 19:56] mloskot commented on #373
@striezel

I don't like the `ptrdiff_t` name particularly.
I don't say the name is clear across all contexts in GIL.
I don't feel comfortable with `s/ptrdiff_t/size_t/g` across GIL as such seemingly trivial change may turn not as benign as it seems.
I assume [Lubomir Bourdev](http://www.lubomir.org/) and Hailin Jin had reasons to choose `ptrdiff_t` which, unfortunately, remain undocumented.

I do

[2022-05-18 06:50] mloskot commented on #519
@dmwilk Thanks for reporting and thank you @striezel for the fix!

[2022-05-18 07:30] #519 closed

[2022-05-20 09:12] mloskot commented on #642
I have moved the planning towards C++14/17 to discussion here https://github.com/boostorg/gil/discussions/676

[2022-05-20 09:15] mloskot commented on #222
This is included in the planning towards C++14/17 discussion here https://github.com/boostorg/gil/discussions/676

[2022-05-20 09:15] mloskot commented on #126
This is included in the planning towards C++14/17 discussion here https://github.com/boostorg/gil/discussions/676

[2022-06-03 06:20] marco-langer opened #680 "Unified rasterization API proposal"
### Description
Three different kind of rasterizers have been implemented during GSoC 2020 and GSoC 2021: line, circle and ellipse rasterizers. These implementations are currently [staged as extensions for releasing with Boost 1.80](https://github.com/boostorg/gil/issues/667). While they all serve a similar purpose, their API is considerable different. Some of my concerns I have already summerized

[2022-06-03 06:55] mloskot commented on #680
I like your proposal very much.
Such unification via an extra level of indirection does not change the existing, let's say, low level interface, yet offers a clean and friendly one.

[2022-06-03 18:24] simmplecoder commented on #680
At the start I thought about providing some sort of fancy iterator that would avoid creating temporary vector. Now with the advent of coroutines I believe it would be great to just create a coroutine that would yield coordinates, then build an easy to use frontend that would support the basic use cases.

[2022-06-03 18:59] marco-langer commented on #680
Yes, I also thought that lazy-evaluated coroutines could eliminate the need for extra memory allocation. This proposal here could serve as a stable API across different kind of rasterizers and the implementation could easily be changed in C++20 without having to change to interface.

[2022-06-03 19:12] mloskot commented on #680
I think there is nothing wrong with hosting conditionally-compiled implementation based on coroutines enabled for C++20 compilation.

[2022-06-17 18:13] jsenn opened #688 "Compiler warning in pixel.hpp"
### Actual behavior

I get the following compiler warnings from pixel.hpp when using some gil functions:
[code]

This is in the grayscale pixel assign function, where it's assigning the int channel value directly to the float grayscale value without an explicit cast. Since not every int has a representation as a float, this is a loss of data, hence the warning. I guess the fix would be to add an e

[2022-06-17 19:39] jsenn commented on #688
After digging into this a bit more, I think the actual problem isn't the lack of a static_cast, but actually just a bug in a part of the code unrelated to my example above. If you look at the warning stack, the root of the problem is [in compute_tensor_entries](https://github.com/boostorg/gil/blob/9bd8642f69bdbf5dfd01df45682efd50dd18fa53/include/boost/gil/image_processing/numeric.hpp#L74), a funct

[2022-06-18 15:42] simmplecoder commented on #688
@jsenn IIRC the values from Harris corner detector are already small. Either way, the PR from GSoC of 2021 #624 should make it clear that the image used for computations are just treated as matrix of floating point values. There is no implied or required normalization. I'm in a bit of a roaming state atm, but should be able to get the PR in merge-ready state until the end of summer. For now, if yo

[2022-06-19 10:55] mloskot commented on #667
I've just pushed another merge from develop to master in https://github.com/boostorg/gil/commit/b1d64abbba0f5e253fad612985c479a0a0cce21f

[2022-06-20 14:59] jsenn commented on #688
Thanks for the quick response @simmplecoder. Is there anything in #624 that would solve the issue with `compute_tensor_entries`? The issue I see is that the output matrices use `boost::gil::float32_t` channel values, which are bounded to the interval [0, 1] (because `float32_t` is defined as a `scoped_channel_value`), but that function is assigning values from the partial derivative images which a

[2022-06-24 06:42] mloskot opened #690 "Add tests for PR #505 with RGB to HSL fix"
Contributor of #505 posted GTest-based tests in https://github.com/boostorg/gil/pull/505#issuecomment-653915440, copied below.
We need to port this to Boost.LightweightTest

[code]

[2022-06-25 16:51] #690 closed

[2022-06-26 11:20] mloskot opened #693 "Refactor any_image tests after deprecating apply_operation in #656"
Saving @marco-langer 's https://github.com/boostorg/gil/pull/656#issuecomment-1166430775 as task for future

[2022-06-26 11:21] #482 closed

[2022-06-27 08:17] mloskot opened #696 "Remove C++11 build jobs from CI"
For Boost 1.80, we have announced the [switch from C++11 to C++14 with Boost 1.80](https://github.com/boostorg/gil/pull/677).

This should be followed with removal of C++11 builds from our CI-s.

Yes, GIL may still build as C++11 for a while after the release of Boost 1.80, but keeping those jobs will be confusing.
Removing them will also speed up our CI operations.

[2022-06-27 14:03] marco-langer commented on #680
I will close the issue as it is merged.

And regarding coroutines: If [P2502](https://github.com/cplusplus/papers/issues/1151) makes it into C++23 (looks promising), my personal preference would be to delay implementation of generators until then rather than reinventing the wheel.

[2022-06-27 14:03] #680 closed

[2022-06-27 14:28] marco-langer opened #697 "Fix wrong pixel channel truncation in binary threshold and truncate threshold"
### Actual behavior
`gil::threshold_truncate()` and `gil::threshold_binary()` from gil/image_processing/truncate.hpp employ a hard-coded value of 0 for the channel minimum value and a value of `std::numeric_limits<channel_t>::max()` for the maximum value. This works only for unsigned integer channel types such as `gil::rgb8_pixel_t` and `gil::gray8_pixel_t`, but does not work for signed channel ty

[2022-06-27 15:02] marco-langer commented on #696
Shouldn't this be on the 1.81 milestone then?

Bold to assume that, I thought to get rid of all `std::bind`'s as soon as we hit 1.80, replace them with generic lambdas and never look back ;)

[2022-06-27 16:24] mloskot commented on #696
Why? If Boost.GIL 1.80 is said and set to require C++14 or later, then what is the reason to keep anything C++11?

[2022-06-27 16:36] mloskot commented on #697
I may vaguely recall that I agreed with @miralshah365 to begin with support unsigned integer channel types only.
There should be at least a static assertion though as a documentation of such limitation.

It would be nice to have this fixed/improved indeed.

[2022-06-27 16:46] marco-langer commented on #697
As far as I see there is currently only one static assert making sure that input and output views are compatible.

[2022-06-27 17:03] mloskot commented on #680
Yes, thanks. I'm so used to issues being closed via commits and I tend to forget to check they have been closed indeed 😊

I agree with your plan.

[2022-06-27 20:45] #696 closed

[2022-06-28 06:35] #528 closed

[2022-06-28 10:11] marco-langer commented on #667
Changes on the documentation are still possible until 6th of July according to the Boost 1.80 release schedule. Does this also include PRs on the examples? (IMO: yes, examples are part of the documentation)

[2022-06-28 14:09] mloskot commented on #667
Yes, of course. Documentation, examples, tests and stuff inside `namespace boost::gil::detail` can receive any changes - only major changes to public interface is not allowed.

I've been rushing with merging PRs  but postponed updates to `RELEASES.md` notes.

[2022-06-29 21:06] mloskot commented on #667
I've just pushed, I think, the **last major changes** `develop` to `master` merge in https://github.com/boostorg/gil/commit/bba6d62b4a50076418174469c3ad04d201873c3b before the [upcoming deadline on the 29th](https://lists.boost.org/Archives/boost/2022/06/253227.php).

We are free to make changes to docs, examples, tests, and other non-breaking changes.

[2022-07-04 18:50] mloskot opened #706 "Consider moving channel_convert_to_unsigned out of detail namespace"
From @marco-langer https://github.com/boostorg/gil/pull/703#issuecomment-1172915455

For the records, it moved into `detail` in https://github.com/boostorg/gil/commit/2ad6747dd0472cef7c67b3438b847f347ce45212
which refers to the "GIL 2.0 to GIL 2.1 Changes" PDF. Since I have got this [gil2.1_changes.pdf](https://github.com/boostorg/gil/files/9041592/gil2.1_changes.pdf), I've attached it for the ref

[2022-07-05 20:29] mloskot commented on #667
Here is likely the final batch of changes to collect release notes for:

[code]
| #   | Date | Hash | Subject |
| --- | ---  | ---  | ---     |
|    1   | 2022-05-12 | [9666a95bc](http://github.com/boostorg/gil/commit/9666a95bc5e0bf2a8780c307c945a8452473d3b3) | chore: Remove unused variable in diffusion.hpp (#666) |
|    2   | 2022-05-13 | [f839504f2](http://github.com/boostorg/gil/commit/f839504f

[2022-07-05 21:24] mloskot commented on #667
I think we are good now and on time before the Boost super-project `master` [closes for all changes on the 6th of June](https://lists.boost.org/Archives/boost/2022/06/253251.php).

[2022-07-19 21:55] striezel commented on #667
Now might be a good time to do that. The Boost 1.80.0 beta 1 has been released last week and the [release notes are up on the website](https://www.boost.org/users/history/version_1_80_0.html), but they show no changes for GIL - so far. Considering that GIL in Boost 1.80.0 brings a lot of changehas - among them a breaking by switching to C++14 - those changes should be made visible on the website.

[2022-07-20 08:16] mloskot commented on #667
@striezel Yes, I meant to do it sooner but I've got swamped with other stuff. So, thank you for the golden helping hand with the PR. I will check it.

[2022-07-23 12:46] mloskot opened #709 "color_convert_hsl / gcc-5~c++14: converting to std::tuple from initializer list would use explicit constructor constexpr std::tuple"
### Actual behavior

The `/test/extension/toolbox/color_convert_hsl.cpp` is failing on Boost regression build:

https://www.boost.org/development/tests/develop/developer/output/teeks99-dkr-dg5-boost-bin-v2-libs-gil-test-extension-toolbox-color_convert_hsl-test-gcc-5~c++14-debug-debug-symbols-off-threading-multi-visibility-hidden.html

[code]

### Expected  behavior

Compilation pass or skip, if co

[2022-07-23 12:47] mloskot opened #710 "color_convert_rgb / gcc-5~c++14: converting to std::tuple from initializer list would use explicit constructor constexpr std::tuple"
### Actual behavior

The `/test/extension/toolbox/color_convert_hsl.cpp` is failing on Boost regression build:

https://www.boost.org/development/tests/develop/developer/output/teeks99-dkr-dg5-boost-bin-v2-libs-gil-test-extension-toolbox-color_convert_rgb-test-gcc-5~c++14-debug-debug-symbols-off-threading-multi-visibility-hidden.html

[code]

### Expected  behavior

Compilation pass or skip, if co

[2022-07-23 12:56] mloskot opened #711 "color_convert_hsl.cpp and color_convert_rgb.cpp error: no matching constructor for initialization of std::vector<color_t>"
### Actual behavior

... for `std::vector<color_t> aka `vector<tuple<float, float, float, unsigned char, unsigned char, unsigned char>> `.

https://www.boost.org/development/tests/develop/developer/output/teeks99-dkr-dc3-9-14-boost-bin-v2-libs-gil-test-extension-toolbox-color_convert_hsl-test-clang-linux-3-9~c++14-debug-debug-symbols-off-threading-multi-visibility-hidden.html

[code]

### Expected

[2022-07-23 18:21] #709 closed

[2022-07-23 18:21] #711 closed

[2022-07-23 18:21] #710 closed

[2022-07-30 18:10] huangqinjin opened #713 "Allow implicit conversion from gray8_ptr_t to gray8_step_ptr_t"
In this case, the memunit step is just `sizeof(pixel)`.

[2022-07-30 22:53] mloskot commented on #713
It would be helpful if you could explain rationale behind your suggestion, what's the use case.

[2022-08-01 14:53] mloskot commented on #713
If there was one type of pixel/view/image available in GIL, such 'convenience' would make sense, but it is a generic library...
Unless, you present an actual problem or use case in form of a minimum working example, then it will be very hard to see what you really mean.

[2022-08-01 14:53] #713 closed

[2022-08-11 19:59] mloskot commented on #667
We're done here. Congratulations and thanks to every one involved!

[2022-08-11 19:59] #667 closed

[2022-08-24 15:03] aleck099 opened #718 "g++ 12.1.1 fails to compile Boost.GIL with -std=c++20"
### Actual behavior

`g++ -std=c++20 -c resize.cpp`
Output:
[code]
#### NOTE:
Same bug does not happen with -std=c++11/c++14/c++17, only with -std=c++20
Cannot reproduce on clang
### Expected  behavior

Successfully compiles

### C++ Minimal Working Example

[resize.cpp](https://www.boost.org/doc/libs/1_80_0/libs/gil/doc/html/_downloads/resize.cpp)

### Environment

- Compiler version: 12.1.1
- Bu

[2022-08-24 19:24] sdebionne commented on #718
Duplicate of #616. Should be fixed in 1.80, what version are you using?

[2022-08-25 05:12] aleck099 commented on #718
1.79

[2022-08-25 08:33] mloskot commented on #718
@aleck099 Please, upgrade to 1.80

[2022-08-25 08:33] #718 closed

[2022-11-14 19:32] dia2e2 opened #721 "unsued variable warning"
Anyone knows why I keep getting this error.

[code]

[2022-11-14 22:30] #721 closed